body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.about {
    display: flex;
    justify-content: center;
}

.container {
   display: flex;
   justify-content: space-between;
}

.text {
    position: absolute;
    bottom: 100x;
    left: 190px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.text2 {
    position: absolute;
    bottom: 100x;
    left: 480px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.text3 {
    position: absolute;
    bottom: 100x;
    left: 755px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.text4 {
    position: absolute;
    bottom: 100x;
    left: 1025px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.avsnitt {
   margin-left: 300px;
}

.hej{
    margin-right: 300px;
}

.socialMedia{
    display: flex;
    justify-content: center;
}