body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.menu {
  display: none;
}

.logga {
  margin-top: 60px; 
}

.podname {

}

/*.descr {*/
  /*text-align: center;*/
/*}*/

/*h1 {*/
  /*font-size: 120px;*/
/*}*/

/*.rubrik {*/
  /*size: 150px;*/
/*}*/

.container {
  display: flex;
  align-items: center;
  /*justify-content: flex-start;*/
  justify-content: center;
}
