body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.about {
    display: flex;
    justify-content: center;
}

.container {
   vertical-align: top;
   display: inline-block;
   text-align: center;
}

.text {
    display: block;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.avsnitt {
   margin-left: 300px;
}

.rubrik{
    margin-right: 300px;
}

.socialMedia{
    display: flex;
    justify-content: center;
}
